
.toTop {
  // color
  background-color: #ffffff21;

  // design
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;

  cursor: pointer;

  // animation
  transition: all .2s;

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
}
.toTop:hover {
  // color
  background-color: #fff;
}
