

.search-results {

  // design
  margin-top: 20px;

  // strucure
  display: grid;
  gap: 30px;
}

nav {
  // color
  // background-color: #be5600;
  background-color: #00000000;

  // design
  height: 50px;
  // border: 4px double #703200;
  // border: 4px double #fff;

  // structure
  display: grid;
  place-items: center;

  @media ( max-width: 800px ){

    // design
    height: 100%;
    width: 100%;

    // structure
    display: grid;
    place-items: center;
    place-content: center;

    .tools {
      // structure
      grid-row: 1;
    }
  }

  input {

    // font
    font-family: 'Andada pro';

    // design
    padding-left: 10px;
    height: 40px;
    width: 300px;
    outline: none;
    border: none;
    border-radius: 6px;

    // animation
    transition: all .3s;

    @media only screen and (min-width: 800px){
      width: 500px;
    }
  }

  input:focus {
    box-shadow: 0px 0px 10px #fff;
  }
}

.cards {
  // structure
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(12em,1fr));
  gap: 1.3em;
}
